body {
    margin-bottom: 100px;
    background-color: #fff;
    background-image: url('http://i.imgur.com/UWTv9Qr.png');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover
}
#create_new_post_btn {
    margin: 0em;
}
.alert {
    width: 70%;
    margin: 1em auto;
}
.post_div_on_image {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 0em 5em 2em 5em;
    background-color: #fff;
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
}
.post_div_background_image {
    position: relative;
    padding: 0;
    overflow: hidden;
    max-height: 35em;
}
.like_btn:hover {
    cursor: pointer;
}
.add_comment_form {
    display: none;
}
.comment_div {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 1em 2em;
    margin: 0.2em auto;
    background-color: #fcfcfc;
}
.active_side_category a {
    color: #000;
}
#change_password_form {
    display: none;
}
.heart_icon {
    height: 1.2em;
    margin-left: 0.2em;
    margin-right: 1em;
}